.author-page-light {
    --bg2: white;
    --bg: #f5f5f5;
    --bor: #dbdbdb;
    --txt: black;
    --p: #323232;
    --sub: #6d6d6d;
}

.author-page-dark {
    --bg2: #121212;
    --bg: #080808;
    --bor: #1A1A1A;
    --txt: #F8F8F8;
    --p: #AFADAD;
    --sub: #6d6d6d;
}


#author-page {
    background-color: var(--bg);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.author-details {
    background-color: var(--bg2);
    padding: 2rem;
    border-radius: 2rem;

    /* border: 1px solid var(--bor); */

    display: flex;

    justify-content: center;

    flex-direction: column;
    gap: 2rem;

    width: 100%;
}

.author-bio {
    background-color: var(--bg2);
    width: 20%;
    min-height: 100%;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.author-bio p {
    color: var(--p);
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: justify;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.author-bio h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.3rem;
    color: var(--txt);
}

.author-info2 {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.author-dp {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.author-text h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.75rem;
    color: var(--txt);
    font-weight: 500;
}


.author-text {
    width: 100%;
}

.author-stats {
    display: flex;
}

.author-personal {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}


.author-sub-text {
    width: 30%;
}

.author-sub-text p:nth-child(1) {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--sub);
}

.author-sub-text p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--p);
}

.author-stats {
    display: flex;
    gap: 1.5rem;
}

.stat {
    display: flex;
    background-color: var(--bg);
    border-radius: 1rem;
    padding: 1rem;
    width: 20%;
    align-items: center;
    gap: 1rem;
}

.stat-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--bg2);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stat img {
    width: 1.5rem;
    height: 1.5rem;
}

.stat h2 {
    color: var(--txt);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.stat p {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--sub);
}

.author-blogs {
    border-top: 1px solid var(--bor);
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1.5rem;
    background-color: var(--bg);
}

.author-blogs .recommended-blog {
    border-radius: 1rem;
    background-color: var(--bg2);
    border: none;
}

.author-header .line {
    width: 5px;
    height: 2rem;
    background-color: var(--pri);
    border-radius: 3px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.75rem;
    color: var(--p);
}

.follow-btn {
    padding: 0.5rem 1rem;
    background-color: var(--pri);
    color: white;
    border: none;
    border-radius: 10px;

    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.follow-btn:hover {
    background-color: #c73c15;
}