/* .outlined-btn {
    background: none;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 0.25rem 1.2rem;
    width: 45%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlined-btn p {
    font-size: 1.1rem;
    color: black;
}

.filled-btn {
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    width: 45%;
    padding: 0.25rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filled-btn p {
    font-size: 1.1rem;
    color: white;
} */