.user-page-light {
    --bg: white;
    --txt: black;
    --p: #323232;
    --bor: #bebebe;
}

.user-page-dark {
    --bg: #080808;
    --txt: #F8F8F8;
    --p: #D7D7D7;
    --bor: #1A1A1A;
}

.signup-file-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--bor);
    border-radius: 4px;
}

.login-container,
.signup-container {
    display: flex;
    width: 100%;
    height: 84vh;
    background-color: var(--bg);
}

.login-container h2,
.signup-container h2 {
    font-size: 4rem;
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    color: var(--txt);
}

.login-container .subtext,
.signup-container .subtext {
    font-size: 1.4rem;
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    color: var(--txt);
}

.login-container form,
.signup-container form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    min-height: 50%;
}

.login-container label,
.signup-container label {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    margin-bottom: 5px;
    font-weight: 500;
    width: 100%;
    color: var(--p);
}

.login-container input,
.signup-container input,
.signup-container textarea {
    background: none;
    padding: 10px;
    margin-top: 2px;
    border: 1px solid var(--bor);
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--p);

}

.login-container button,
.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--pri);
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover,
.signup-container button:hover {
    background-color: var(--pri);
}

.forgot,
.new {
    color: var(--txt);
    font-size: 1rem;
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    text-decoration: none;
}

.new span {
    text-decoration: underline;
    color: var(--pri);
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.success {
    color: green;
    text-align: center;
    margin-bottom: 15px;
}


.signup-container .form-right {
    position: relative;
}

/* UTILITY */

.form-left {
    border-right: 1px solid var(--bor);

}

.form-left,
.form-right {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}

.step-btns button {
    width: 5rem;
}

.step-btns {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
}

.step-btns button:disabled {
    visibility: hidden;
}