/* CustomSearchBar.css */
.bar-light {
    --bg: #F8F8F8;
    --bg2: #dbdbdb;
    --txt: black;
    --p: #979797;
    --bor: #dbdbdb;
}

.bar-dark {
    --bg: #0a0a0a;
    --bg2: #121212;
    --txt: #F8F8F8;
    --p: #444444;
    --bor: #1A1A1A;
}

.search-bar {
    position: relative;
}

.search-input {
    height: 100%;
    background-color: var(--bg);
    width: 100%;
    border: 1px solid var(--bor);
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    padding-left: 2.5rem;
    color: var(--txt);
}

.search-input::placeholder {
    color: var(--p);
    font-weight: 500;
    font-size: 0.9rem;
}

.search-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.4rem;
}