.nav-light {
    --bg: #F8F8F8;
    --bg2: white;
    --txt: black;
    --p: #4b4b4b;
    --bor: #c7c7c7;
}

.nav-dark {
    --bg: #0a0a0a;
    --bg2: #111111;
    --txt: #F8F8F8;
    --p: #bebebe;
    --bor: #202020;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 8vh;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bor);
    background-color: var(--bg);
}

.logo-container {
    width: 30%;
}

.navbar-logo {
    height: 3.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 30%;
}

.nav-list-item * {
    font-family: 'Bricolage Grotesque';
    text-decoration: none;
    color: var(--txt);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}

.nav-list-item:hover * {
    outline: 1px solid var(--bor);

}

.nav-actions {
    display: flex;
    gap: 1rem;
}

.sign-btn {
    background-color: var(--bg);
    border: none;
    padding: 0.25rem 0.75rem;
    border-radius: 8px;

}

.nav-btns {
    display: flex;
    gap: 2rem;
    width: 30%;
    justify-content: flex-end;
}

.login-btn,
.join-btn,
.playground-btn {
    padding: 0.75rem 2.5rem;
    border: 1px solid var(--bor);
    border-radius: 5rem;
    text-decoration: none;
    color: var(--txt);
    font-family: 'Bricolage Grotesque';
    font-weight: 600;
    text-align: center;
    transition: all 0.4s;
}

.login-btn:hover,
.join-btn:hover,
.playground-btn:hover {
    opacity: 0.8;
}

.join-btn {
    color: white;
    border: none;
    background-color: var(--pri);
}

.playground-btn {
    color: white;
    border: none;
    background: linear-gradient(45deg, #6b08ff 10%, #2c6cff 66%, #17b2ff 100%);
}

.logged-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}